@charset "UTF-8";
@import "libs/_lib";


*,*::before,*::after {
    box-sizing: border-box; 
}

html {
    height: 100%;
    padding: 0;
    margin: 0;

}
body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: $base-font;
    font-size: $base-font-size;
    color: $base-color;
    position: relative;
}

.wrapper {
    position: relative;
    max-width: $wrapper-width;
    min-width: 319px;
    padding-left: $col-padding;
    padding-right: $col-padding;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$col-padding;
    margin-left: -$col-padding;

}
.col {
    padding-left: $col-padding;
    padding-right: $col-padding;
    flex: 0 0 100%;
    max-width: 100%;
    &.-full, &.-half {
        max-width: 100%;
    }
    @media (min-width: 500px) {
        &.-half {
            max-width: 50%;
        }
    }

}

[class*="-sec"] {
    margin-bottom: 2 * $col-padding;

}

a {
    color: $link-color;
    text-decoration: none;
    @include outline-remove;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    &:hover {
        color: $link-hover-color;
        text-decoration: none;

    }

}

img {
    max-width: 100%;
    height: auto;

}

button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0 none;
    @include outline-remove;
    font-family: $base-font;
    cursor: pointer;

}

.btn {
    border: 2px solid transparent;
    padding: 0 20px;
    margin: 0;
    display: inline-block;
    @include eqbox(42px, 4px);
    border-radius: $border-radius;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    transition: .3s ease-in-out;
    @include outline-remove;
    &.btn-default {
        border-color: $btn-bg-color;
        background-color: $btn-bg-color;
        color: $btn-color;
        &:hover {
            border-color: $btn-hover-bg-color;
            background-color: $btn-hover-bg-color;
            color: $btn-hover-color;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;

    }
    &.inline-list {
        font-size: 0;
        li {
            display: inline-block;
            font-size: $base-font-size;

        }

    }

}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-size: $header-font-size-mobile;
    font-weight: 700;
    display: block;
    padding: 0;
    margin: 0;
    @media (min-width: 768px) {
        font-size: $header-font-size;
    }
}

.bold {
    font-weight: 700!important;
}


::selection {
    color: #ffffff;
    background-color: rgba($theme-color-1, .9);
}